<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.basiccalc.tankholic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/roundicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/roundicon"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".first">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".choose_coral"
            android:label="@string/title_activity_choose_coral">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:theme="@android:style/Theme.Dialog" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".choose_fish"
            android:label="Choose Fish">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:theme="@android:style/Theme.Dialog" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScrollableTabsActivity"
            android:label="@string/title_activity_result"></activity>
        <activity android:name=".view_tank"></activity>
    </application>

</manifest>